footer {
  background-color: #F4E7D7;
  height: 45vh;
}

.rs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-right: 1.5vw;
}

.rs img {
  width: 24px;
  height: 24px;
}

.info_footer {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  justify-content: space-between;
  width: 80vw;
  align-items: center;
  padding-top: 7vh;
}

.adress article {
  text-align: right;
}

.copyright {
  font-size: 1em;
  color: rgba(18, 18, 18, 0.8);
}

.ligne {
  position: relative;
  border-bottom: 1px solid #121212;
  width: 80vw;
  text-align: center;
  left: 10vw;
}

.end_footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5vh;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 23px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
}

nav {
  height: 80px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background-color: #F4E7D7;
  /* fade in checked menu */
}

body {
  background-color: #FCF1E3;
}

nav .m-menu__checkbox {
  display: none;
}

nav label.m-menu__toggle {
  cursor: pointer;
}

nav .m-menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  width: calc(100vw - 10px);
  height: 100vh;
  -moz-transform: translate3d(-450px, 0, 0);
  -o-transform: translate3d(-450px, 0, 0);
  -ms-transform: translate3d(-450px, 0, 0);
  -webkit-transform: translate3d(-450px, 0, 0);
  transform: translate3d(-450px, 0, 0);
  -moz-transition: transform 0.35s;
  -o-transition: transform 0.35s;
  -webkit-transition: transform 0.35s;
  transition: transform 0.35s;
  z-index: 1;
  overflow: hidden;
  background: rgba(18, 18, 18, 0.9);
  backdrop-filter: blur(12px);
}

nav .m-menu__overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
}

nav .m-menu__header {
  padding: 0 16px;
  height: 50px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  align-items: flex-end;
  justify-content: flex-end;
}

nav .m-menu__header span {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

nav .m-menu .m-menu {
  -moz-transform: translate3d(480px, 0, 0);
  -o-transform: translate3d(480px, 0, 0);
  -ms-transform: translate3d(480px, 0, 0);
  -webkit-transform: translate3d(480px, 0, 0);
  transform: translate3d(480px, 0, 0);
}

nav .m-menu ul {
  height: 100%;
  overflow-y: auto;
}

nav .m-menu ul li a,
nav .m-menu ul li label {
  display: block;
  line-height: 35px;
  text-decoration: none;
  color: #FCF1E3;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  list-style: none;
}

nav .m-menu ul li label.a-label__chevron::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  right: 16px;
}

nav .m-menu ul li .-invisible {
  border-bottom: 0;
}

nav .m-menu .m-menu label.m-menu__toggle {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-bottom: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

nav .m-menu__checkbox:checked ~ .m-menu__overlay {
  display: block;
}

nav .m-menu__checkbox:checked ~ .m-menu {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.wrapper {
  width: 480px;
  height: 667px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

svg {
  background-image: url("../wp-content/themes/crespa/assets/images/menu.svg");
}

li {
  color: #fff;
  border-bottom: 5px solid #0C53C4;
  width: 70%;
  margin-left: 15%;
  transition: all 0.2s ease-in;
}

li:hover {
  transition: all 0.2s ease-out;
  border-bottom: 5px solid #e51449;
}

.logo_header {
  width: 164px;
}

.header {
  display: flex;
  align-items: center;
  width: 80vw;
  gap: 23%;
  justify-content: flex-start;
  position: relative;
  left: 10vw;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.header svg {
  cursor: pointer;
}

.header img {
  text-align: center;
}

.contact {
  border-radius: 87px;
  width: 13vw;
  height: 5vh;
  background-color: #e51449;
  border: solid 0px;
  font-size: 1em;
  color: #FCF1E3;
  margin-left: 2vw;
}

header {
  position: sticky;
  top: 0px;
  z-index: 50;
}

.icon {
  display: row;
  padding-right: 13vw;
}

menu .ancre {
  position: sticky;
  top: 80vh;
  margin-left: 95vw;
}

.logo_nav {
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 90vh;
  left: 40%;
}

.menu li {
  margin-bottom: 10px;
}

.m-menu__toggle {
  width: 12.2vw;
  cursor: pointer;
}

.blue_barre {
  position: sticky;
  top: 80px;
  background-color: #0C53C4;
  height: 4vh;
  display: flex;
  align-items: center;
}

.search_barre {
  position: sticky;
  top: 80px;
  order: 1;
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-left: 10vw;
  justify-content: space-between;
  align-items: center;
}

.search {
  border: solid 0px;
  border-bottom: solid 1px #FCF1E3;
}

::placeholder {
  color: rgba(255, 255, 255, 0.55);
}

:hover::placeholder {
  color: #FCF1E3;
}

:focus::placeholder {
  color: transparent;
}

.search:focus {
  border: solid 0px;
  border: solid 0px;
  background-color: #0C53C4;
}

div.header_2 {
  align-items: center;
  margin-top: 0px;
  width: 46vw;
  display: flex;
  flex-direction: row;
  margin-left: 44vw;
  justify-content: space-between;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.welcome {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
.welcome img {
  height: 100%;
  width: 100vw;
}
.welcome .filtre_noire {
  position: absolute;
  top: 0;
  order: 2;
  z-index: 0;
  width: 100vw;
  height: 104.75vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.welcome img .souris {
  padding-top: 2.5vw;
  cursor: pointer;
}

.asso article {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.asso article p {
  text-align: center;
}
.asso span {
  color: #e51449 !important;
}

.presentation {
  position: absolute;
  top: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  height: 72.5vh;
  left: 25vw;
  gap: 20px;
  overflow-y: hidden;
}
.presentation :nth-child(2) {
  color: #FCF1E3;
  font-size: 1.25em;
}

.welcome_logo {
  width: 50vw;
  height: 50vh;
  text-align: center;
}

div.filtre_noir_page_accueil {
  width: 37.5vw;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 46;
}

.logo_nav {
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 90vh;
  left: 40%;
}

.m-menu__toggle {
  position: absolute;
  width: 12.2vw;
  cursor: pointer;
}

/* set `div` container `background` to last `div' */
.slider div {
  position: relative;
  height: 200px;
  width: 100%;
}

div.wrapper {
  width: 35vw;
  border-left: solid 10px #e51449;
  border-top: solid 10px #e51449;
  z-index: 49;
  background-color: transparent;
}

/* set `div` `opacity:0`  */
/* 
     display `:target` `div` on click of `a`,
     having `div` as fragment identifier 
  */
div > div:target {
  opacity: 1;
}

div.asso {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}
div.asso div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15vh;
}
div.asso div .reseaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.asso div .reseaux img {
  width: 5vw;
  height: 10vh;
}
div.asso article {
  width: 80vw;
}
div.asso article p {
  line-height: 35px;
  font-size: 1.25em;
}

section {
  width: 80vw;
  justify-content: space-between;
  margin-left: 10vw;
}

section.oeuvres,
.ateliers,
.histoire,
.formations,
.artistes,
.entreprise,
.carrousel {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.contenu .all {
  gap: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  margin: 0px;
}

.one_page_accueil {
  height: 50vh;
  width: 25%;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F4E7D7;
  align-items: center;
  display: flex;
}
.one_page_accueil .photo_artiste {
  margin-top: 5%;
  border-radius: 50%;
  width: 45%;
  height: 40%;
  position: relative;
  z-index: 21;
}
.one_page_accueil .name {
  font-size: 1.5em;
  font-family: "DM serif display";
  color: #e51449;
}
.one_page_accueil .courte_description {
  width: 80%;
  word-wrap: break-word;
  text-align: center;
}
.one_page_accueil .artistes {
  height: 100%;
}
.one_page_accueil .background_image {
  position: absolute;
  width: 23%;
  height: 23%;
  margin-bottom: 10%;
  z-index: 20;
}

.contenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  color: #0C53C4;
  margin-bottom: 6vh;
  margin-left: 10vw;
}

div.slider {
  position: relative;
  display: block;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.sliderDate.show {
  background-color: #F4E7D7;
  border-left: solid 10px #e51449;
}

.border {
  width: 100%;
  border-left: solid 10px transparent;
}

.articles {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  align-items: center;
  gap: 20%;
  height: 50px !important;
  z-index: 49;
  font-family: "DM serif display";
}

/* `.thumbs` `span` elements */
.thumbs {
  height: 50px;
  width: 40vw;
  display: flex;
  position: relative;
  text-align: space-between;
}

.enter {
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 0px;
  height: 100%;
  background-color: transparent;
}

.date {
  color: #0C53C4;
  font-size: 1.5em;
}

.nom_article {
  font-size: 1em;
  color: #000000;
}

/* set `background` of `.thumbs` `span` elements  */
.plus_oeuvres {
  text-align: center;
  margin-right: 40%;
}

a {
  margin: 0px;
  display: inline-block;
  position: relative;
  color: transparent;
  padding-top: 0px;
}

.suivant {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 5vh;
}
.suivant a {
  cursor: pointer;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.video {
  width: 37.5vw;
}

.story {
  width: 37.5vw;
  display: flex;
  flex-direction: column;
}

.all_artistes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  gap: 12.5%;
}

a {
  display: block;
}

.button_accueil_actu {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.button_accueil_actu .button {
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  z-index: 49;
}

.button_accueil_artistes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.wrapper .item {
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 99;
}

.all_oeuvre_page_accueil {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.one_oeuvre_page_accueil {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 27%;
}
.one_oeuvre_page_accueil .image {
  height: 40vh;
  width: 100%;
  max-height: 100%;
  max-height: auto;
  max-width: 100%;
  margin-bottom: 2.5vh;
}

.button_accueil_oeuvre {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.button_accueil_atelier {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.button_accueil_formation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
}

.button_accueil_entreprise {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.image_page_accueil {
  width: 37.5vw;
  height: 50vh;
  display: flex;
  flex-direction: column-reverse;
}

.text_page_accueil_entreprise {
  position: absolute;
  z-index: -100;
  color: #FCF1E3;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 2em;
  line-height: 30px;
}

section.entreprise {
  height: auto !important;
}

article.service {
  margin-top: 50px;
}

.partie_entreprise {
  margin-top: 50px;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  flex-direction: row-reverse;
}

section.mail {
  display: flex;
  flex-direction: row !important;
  margin-bottom: 5vh;
}

.contenu_histoire {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.video iframe {
  width: 37.5vw;
}

.onclick {
  transition: ease-in 1s;
}

.animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.animation div {
  display: flex;
  align-content: center;
  justify-content: center;
}
.animation div img.fleche {
  animation: bounce 0.7s ease infinite;
}
@keyframes bounce {
  from {
    top: 106px;
  }
  50% {
    top: 0px;
  }
  to {
    top: 106px;
  }
}

div .point_rouge {
  position: absolute;
  z-index: -1;
  top: 1700px;
  left: 95vw;
  width: 120px;
  height: 300px;
}
div .point_jaune {
  position: absolute;
  z-index: -1;
  top: 2100px;
  left: 25vw;
  width: 150px;
  height: 150px;
}
div .point_bleu {
  position: absolute;
  z-index: -1;
  top: 2100px;
  left: 65vw;
  width: 150px;
  height: 150px;
}
div .tache_jaune {
  position: absolute;
  z-index: -1;
  left: 85vw;
  top: 500;
  width: 308px;
  height: 180px;
}
div .tache_rouge {
  position: absolute;
  z-index: -1;
  top: 1000px;
  left: -10px;
  width: 260px;
  height: 180px;
}
div .tache_bleu {
  position: absolute;
  left: 90vw;
  top: 3600px;
  z-index: -1;
  width: 300px;
  height: 180px;
}
div .tache_rouge_jaune {
  position: absolute;
  z-index: -1;
  top: 2500px;
  left: -17vw;
  width: 388px;
  height: 340px;
}
div .point_rouge-2 {
  position: absolute;
  z-index: -1;
  top: 4000px;
  left: 95vw;
  width: 120px;
  height: 300px;
}
div .point_jaune-2 {
  position: absolute;
  z-index: -1;
  top: 4500px;
  left: 5vw;
  width: 150px;
  height: 150px;
}
div .tache_rouge-2 {
  position: absolute;
  z-index: -1;
  top: 5000px;
  left: 95vw;
  width: 300px;
  height: 180px;
}
div .point_bleu-2 {
  position: absolute;
  z-index: -1;
  top: 5500px;
  left: 2vw;
  width: 180px;
  height: 180px;
}
div .tache_jaune-2 {
  position: absolute;
  z-index: -1;
  top: 5800px;
  left: 95vw;
  width: 300px;
  height: 180px;
}
div .point_jaune_service {
  position: absolute;
  z-index: -1;
  top: 2100px;
  left: 1vw;
  width: 150px;
  height: 150px;
}
div .point_bleu_service {
  position: absolute;
  z-index: -1;
  top: 1100px;
  left: 95vw;
  width: 150px;
  height: 150px;
}
div .tache_rouge_jaune_service {
  position: absolute;
  z-index: -1;
  top: 1400px;
  left: -17vw;
  width: 388px;
  height: 340px;
}
div .tache_rouge_service {
  position: absolute;
  z-index: -1;
  top: 700px;
  left: -5vw;
  width: 260px;
  height: 180px;
}
div .point_jaune_autre {
  position: absolute;
  z-index: -1;
  top: 200px;
  left: 96vw;
  width: 260px;
  height: 180px;
}
div .tache_rouge_jaune_autre {
  position: absolute;
  z-index: -1;
  top: 900px;
  left: 96vw;
  width: 388px;
  height: 340px;
}

div.after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 7.5vh;
}
div.after .titre_oeuvre {
  color: #0C53C4;
  font-size: 1.25em;
  font-family: "DM serif display";
}
div.after div:nth-child(1) {
  margin-top: 0px;
}

.coordonnees {
  margin-top: 20px;
  gap: 20px;
}
.coordonnees .coordonnee {
  margin-top: 20px;
  align-items: center;
  display: flex;
  gap: 20px;
}

.all_oeuvre {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: space-between;
  margin-left: 10vw;
}

.autre_oeuvre {
  margin-top: 50px;
  display: flex;
  gap: 2.5vw;
}

.one_oeuvre {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.one_oeuvre .image {
  height: 60vh;
  width: 100%;
  max-height: 100%;
  max-height: auto;
  max-width: 100%;
  margin-bottom: 2.5vh;
}
.one_oeuvre div.after {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 7.5vh;
}
.one_oeuvre div.after div:nth-child(1) {
  background-color: transparent;
  margin-top: 0px;
}

.courte_description {
  width: 80%;
  word-wrap: break-word;
}

div.contenu_oeuvre {
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
}
div.contenu_oeuvre .one_oeuvre {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 18.125vw;
  height: 40vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}
div.contenu_oeuvre .one_oeuvre .image_other {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-height: auto;
  max-width: 100%;
  margin-bottom: 2.5vh;
}
div.contenu_oeuvre h2 {
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}
div.contenu_oeuvre .oeuvre {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
div.contenu_oeuvre .oeuvre .gauche {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 50vw;
}
div.contenu_oeuvre .oeuvre .gauche .titre_price {
  display: flex;
  justify-content: space-around;
  gap: 25vw;
}
div.contenu_oeuvre .oeuvre .gauche .titre_price .titre {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.contenu_oeuvre .oeuvre .gauche .image_oeuvre_simple {
  height: 70vh;
  max-height: 100%;
  max-height: auto;
  max-width: 100%;
  margin-bottom: 2.5vh;
}
div.contenu_oeuvre .oeuvre .description {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}
div.contenu_oeuvre .oeuvre .description div {
  word-break: break-word;
}
div.contenu_oeuvre .oeuvre .description .taille {
  color: #e51449;
  font-size: 1.25em;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;
}

.button_oeuvre {
  color: #e51449;
  text-decoration: none;
}

:hover.button_oeuvre {
  text-decoration: underline;
}

.price {
  font-size: 1.25em;
}

.titre_price .titre :nth-child(1) {
  color: #e51449;
  font-size: 1.5em;
  font-family: "DM Serif Display";
  padding-bottom: 10px;
}
.titre_price .titre :nth-child(2) {
  color: #0C53C4;
}

.mail {
  gap: 10vw;
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
}

.mail form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

form input {
  border: solid 0px;
  border-bottom: solid 2px #0C53C4;
  width: 30vw;
  background-color: transparent;
}

.form input:focus {
  background-color: transparent;
  border: 0px;
}

form textarea {
  border: solid 0px;
  border-bottom: solid 2px #0C53C4;
  width: 100%;
  background-color: transparent;
}

.maps {
  width: 40vw;
  height: 40vh;
}

#wpforms-submit-244 {
  border-radius: 55px;
  background-color: #e51449;
  width: 40%;
  height: 5vh;
  border: solid 0;
  margin-left: 30%;
  color: #FCF1E3;
  margin-top: 5vh;
}

.envoyer {
  background-color: transparent;
}
.envoyer img {
  border: 0px;
}

h2.contact_form {
  margin-top: 5vh;
}

.conteneur:nth-child(2n+1) {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 50vh;
  margin-left: 10vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  flex-direction: row-reverse;
}

.conteneur {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 50vh;
  margin-left: 10vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
  flex-direction: row;
}

div.filtre_noir {
  width: 35vw;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 25%;
}
div.filtre_noir .titre {
  font-size: 2em;
  font-family: "DM serif display";
}
div.filtre_noir .description {
  width: 70%;
  text-align: center;
}

div.image {
  width: 35vw;
  height: 100%;
  display: flex;
  color: aliceblue;
}

.titre {
  margin-top: 15%;
}

.text {
  width: 35vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.text :nth-child(2) {
  color: #e51449;
}

section.erreur {
  height: 43vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  border-radius: 55px;
  background-color: #e51449;
  width: 10vw;
  height: 5vh;
  border: solid 0;
  color: #FCF1E3;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.button_art {
  display: flex;
  justify-content: center;
  border-radius: 55px;
  background-color: #e51449;
  width: 5vw;
  height: 4vh;
  border: solid 0;
  color: #FCF1E3;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.button_art:hover {
  background-color: #0C53C4;
  transition: all 0.2s ease-out;
}

.button:hover {
  background-color: #0C53C4;
  transition: all 0.2s ease-out;
}

#is-search-input-301 {
  height: 100%;
  background: transparent;
  color: #FCF1E3;
}

.is-search-icon {
  display: none !important;
}

.one {
  height: 60vh;
  width: 25%;
  flex-direction: column;
  justify-content: space-around;
  background-color: #F4E7D7;
  align-items: center;
  display: flex;
  margin-bottom: 5vh;
  margin-top: 5vh;
  background-image: url("../wp-content/themes/crespa/assets/images/background_artiste.svg");
}
.one :last-child a {
  text-decoration: show;
}
.one .photo_artiste {
  border-radius: 50%;
  width: 50%;
  height: 36%;
  position: relative;
  z-index: 21;
}
.one .name {
  font-size: 2em;
  font-family: "DM serif display";
  color: #e51449;
}
.one .courte_description {
  width: 80%;
  word-wrap: break-word;
  text-align: center;
}
.one .artistes {
  height: 100%;
}
.one .background_image {
  position: absolute;
  width: 25%;
  height: 25%;
  margin-bottom: 15%;
  z-index: 20;
}

.all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80vw;
  gap: 12.5%;
  margin-left: 10vw;
}

.contenu_single {
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
}
.contenu_single .autre_oeuvre {
  display: flex;
  flex-wrap: wrap;
  gap: 6.5vw;
  flex: 2 1 auto;
}
.contenu_single .one_oeuvre {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 18%;
  height: 40vh;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}
.contenu_single .one_oeuvre .image_other {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-height: auto;
  max-width: 100%;
  margin-bottom: 2.5vh;
}
.contenu_single h2 {
  margin-left: 0px;
}
.contenu_single .artiste {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contenu_single .artiste .one {
  height: 70vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  background-color: #FCF1E3;
  align-items: center;
  display: flex;
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
}
.contenu_single .artiste .one .background_image {
  position: absolute;
  width: 35%;
  height: 35%;
  z-index: 20;
  margin-top: -50px;
}
.contenu_single .artiste .one .photo_artiste {
  border-radius: 50%;
  width: 18%;
  height: 43%;
  position: relative;
  z-index: 21;
}

.lien {
  color: black;
}

.lien:hover {
  text-decoration: none;
}

.navigation,
.pagination {
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
}
.navigation .nav-links,
.pagination .nav-links {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  background-color: #FCF1E3;
}
.navigation .nav-links .next,
.pagination .nav-links .next {
  display: none;
}
.navigation .nav-links .prev,
.pagination .nav-links .prev {
  display: none;
}
.navigation .nav-links .current,
.pagination .nav-links .current {
  font-size: 1.5em;
  display: block;
  color: #e51449;
}
.navigation .nav-links a,
.pagination .nav-links a {
  color: #e51449;
  text-decoration: none;
}

section.entreprise {
  margin-top: 5vh;
  margin-bottom: 5vh;
  justify-content: space-around;
}
section.entreprise h2 {
  margin-left: 0px;
  margin-bottom: 0px;
}
section.entreprise article.service {
  word-wrap: break-word;
}

* {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.25em;
}

h1 {
  color: #FCF1E3;
  font-family: "DM serif display";
  font-size: 1.25em;
}

h2 {
  font-family: "DM Serif Display";
  font-size: 3em;
}

input:focus {
  border: none;
}

/*# sourceMappingURL=app.css.map */
