@import 'base/variables';
@import 'layout/footer';
@import 'layout/header';
@import 'pages/page-home';
@import 'pages/page-artistes';
@import 'pages/page-oeuvres';
@import 'pages/page-contact';
@import 'pages/page-formations';
@import 'pages/page-404';
@import 'composant/button';
@import 'composant/artiste';
@import 'composant/nav';
@import 'pages/page-services';
* {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.25em;
}

h1 {
    color: $background;
    font-family: "DM serif display";
    font-size: 1.25em;
}

h2 {
    font-family: 'DM Serif Display';
    font-size: 3em;
}

input:focus {
    border: none;
}

// @import 'pages/page-formations';