  .all_oeuvre {
      display: flex;
      flex-wrap: wrap;
      width: 80vw;
      justify-content: space-between;
      margin-left: 10vw;
  }
  
  .autre_oeuvre {
      margin-top: 15vh;
      margin-bottom: 5VH;
      display: flex;
      gap: 1%;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  .one_oeuvre {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 30vw;
      margin-top: 5vh;
      margin-bottom: 5vh;
      .image {
          height: 60vh;
          width: 100%;
          max-height: 100%;
          max-height: auto;
          max-width: 100%;
          margin-bottom: 2.5vh;
      }
      div.after {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-bottom: 7.5vh;
          div:nth-child(1) {
              background-color: transparent;
              margin-top: 0px;
          }
      }
  }
  
  .courte_description {
      width: 80%;
      word-wrap: break-word;
  }
  
  div.contenu_oeuvre {
      .one_oeuvre {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          display: flex;
          width: 20%;
          height: 40vh;
          margin-top: 2.5vh;
          margin-bottom: 2.5vh;
          .image_other {
              height: 100%;
              width: 100%;
              max-height: 100%;
              max-height: auto;
              max-width: 100%;
              margin-bottom: 2.5vh;
          }
      }
      width: 80vw;
      margin-left: 10vw;
      display: flex;
      flex-direction: column;
      h2 {
          margin-bottom: 0px!important;
          margin-left: 0px!important;
      }
      .oeuvre {
          display: flex;
          justify-content: space-between;
          margin-top: 5vh;
          margin-bottom: 15vh;
          .gauche {
              display: flex;
              flex-direction: column-reverse;
              justify-content: space-between;
              width: 50vw;
              .titre_price {
                  display: flex;
                  justify-content: space-around;
                  gap: 25vw;
                  .titre {
                      margin-top: 0px;
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                  }
              }
              .image_oeuvre_simple {
                  height: 70vh;
                  max-height: 100%;
                  max-height: auto;
                  max-width: 100%;
                  margin-bottom: 2.5vh;
              }
          }
          .description {
              width: 25vw;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              gap: 50px;
              div {
                  word-break: break-word;
              }
              .taille {
                  color: $red;
                  font-size: 1.25em;
                  align-items: flex-end;
                  justify-content: flex-end;
                  text-align: end;
              }
          }
      }
  }
  
  .button_oeuvre {
      color: $red;
      text-decoration: none;
  }
  
   :hover.button_oeuvre {
      text-decoration: underline;
  }
  
  .price {
      font-size: 1.25em;
      color: $red;
  }
  
  .titre_price .titre {
       :nth-child(1) {
          color: $red;
          font-size: 1.5em;
          font-family: 'DM Serif Display';
          padding-bottom: 10px;
      }
       :nth-child(2) {
          color: $bleu;
      }
  }
  
  .contenu_oeuvre .oeuvre {
      display: flex;
      justify-content: space-between;
      margin-top: 5vh;
      margin-bottom: 10vh;
  }