.conteneur:nth-child(2n+1) {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex-direction: row-reverse;
}

.conteneur {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    flex-direction: row;
}

div.filtre_noir {
    .titre {
        font-size: 2em;
        font-family: "DM serif display";
    }
    width: 35vw;
    height: 50vh;
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 25%;
    .description {
        width: 70%;
        text-align: center;
    }
}

div.image {
    width: 35vw;
    height: 100%;
    display: flex;
    color: aliceblue;
}

.titre {
    margin-top: 15%;
}

.text {
     :nth-child(2) {
        color: $red;
    }
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}