form {
    display: flex;
}

.mail form {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

form input {
    font-size: 1.15em;
    border: solid 0px;
    outline: none;
    border-bottom: solid 2px $bleu;
    width: 30vw;
    background-color: transparent;
}

form textarea {
    border: solid 0px;
    outline: none;
    border-bottom: solid 2px $bleu;
    width: 100%;
    background-color: transparent;
}

.maps {
    width: 40vw;
    height: 40vh;
}

#wpforms-submit-244 {
    border-radius: 55px;
    background-color: #e51449;
    width: 40%;
    height: 5vh;
    border: solid 0;
    margin-left: 30%;
    color: #FCF1E3;
    margin-top: 5vh;
    font-family: 'Roboto';
}

.envoyer {
    img {
        border: 0px;
    }
    background-color: transparent;
}

h2.contact_form {
    margin-top: 5vh;
}

input:active {
    border: transparent;
}

.is-form-style.is-form-style-3 input.is-search-input {
    border: 0!important;
}

textarea {
    resize: none;
}