.button {
    display: flex;
    justify-content: center;
    border-radius: 55px;
    background-color: $red;
    width: 10vw;
    height: 5vh;
    border: solid 0;
    color: $background;
    align-items: center;
    text-decoration: none;
}